.home-container {
  position: fixed;
  left: 10%;
  right: 10%;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
}

.text-input-field {
  padding: 24px 12px;
  border-radius: 7px;
  font-size: 24px;
}

.text-input-field:focus {
  outline: none;
}

.enter-room-button {
  margin-top: 20px;
  padding: 24px 12px;
  font-size: 28px;
  background: #6a35ff;
  border: 2px solid transparent;
  color: white;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
  transition-duration: 0.2s;
}

.enter-room-button:hover {
  background-color: transparent;
  color: #6a35ff;
  border: 2px solid #6a35ff;
}
