.login {
  display: flex;
  justify-content: center;
}

.login .container {
  max-width: 400px;
  flex: 1;
}

.login .container h1 {
  text-align: center;
  margin: 5rem;
  color: #696c64;
}

.login .fb {
  background-color: #3b5998;
  color: white;
  width: 100%;
  display: block;
  text-align: center;
}

.login .google {
  background-color: #dd4b39;
  color: white;
  width: 100%;
  display: block;
  text-align: center;
}

.login .logins {
  margin: 5px 0;
}

.example-credentials {
  margin-top: 2rem;
  font-size: 0.8rem;
  text-align: center;
}

.no-account {
  margin-top: 2rem;
  text-align: center;
}

.register-submit,
.log-in-submit {
  background-color: #6a35ff;
  color: white;
  border: none;
  width: 100%;
  padding: 0.8rem;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 4px;
  margin-top: 2rem;
  transition-duration: 0.2s;
}

.register-submit:hover,
.log-in-submit:hover {
  border: 2px solid #6a35ff;
  background-color: transparent;
  color: #6a35ff;
  padding: 0.7rem;
}

.register-email {
  margin-top: 2rem;
}
