.message-form {
  margin: 5rem auto;
  width: 50%;
}

.message-form .btn {
  width: auto;
}

.message-form h2 {
  text-align: center;
  color: #6a6d97;
}

.write-message {
  font-weight: bold;
  color: white;
  transition-duration: 0.2s;
  border: 2px solid transparent;
  background-color: #551a8b;
}

.write-message:hover {
  border: 2px solid #551a8b;
  color: #551a8b;
  background-color: transparent;
  font-weight: bold;
}
