.message-form {
  margin: 5rem 0;
}

.message-form .btn {
  width: auto;
}

.message-form h2 {
  text-align: center;
  color: #6a6d97;
}

.write-message {
  border: 2px solid #551a8b;
  color: #551a8b;
  font-weight: bold;
  background-color: transparent;
}
